{
  "embeds": [
    {
      "type": "rich",
      "title": "[{{state}}] {{priorityText}}: {{issueTitle}}",
      "url": "{{issuePageUrl}}",
      "image": {
        "url": "{{violationChartUrl}}"
      },
      "fields": [
        {{#if accumulations.tag.k8s.deploymentName}}
        {
          "name": "Deployment",
          "value": "{{#each accumulations.tag.k8s.deploymentName}}- {{this}}{{#unless @last}}\n{{/unless}}{{/each}}",
          "inline": true
        },
        {{/if}}
        {
          "name": "Created at",
          "value": "{{issueCreatedAtUtc}}",
          "inline": true
        },
        {{#if issueClosedAtUtc}}
        {
          "name": "Closed at",
          "value": "{{issueClosedAtUtc}}",
          "inline": true
        },
        {{/if}}
        {{#if issueDurationText}}
        {
          "name": "Incident duration",
          "value": "{{issueDurationText}}",
          "inline": true
        },
        {{/if}}
        {
          "name": "{{impactedEntitiesCount}} impacted entities",
          "value": "{{#each entitiesData.names}}- {{this}}{{#unless @last}}\n{{/unless}}{{/each}}",
          "inline": false
        }
      ],
      "footer": {
        "text": "[Policy]({{policyUrl}}), [Workflow]({{workflowUrl}})"
      }
    }
  ]
}
