# npm
node_modules

# misc
.dccache
.iac-data
.env
!*.secret
.gitsecret/keys/random_seed
*.diff
.DS_Store

# cdk
cdk.out*

# terraform
.terraform
.terraform.lock.hcl
local*.tfvars

# secrets
k8s/secrets.yaml
