# npm
node_modules

# misc
.dccache
.iac-data
.env
!*.secret
.gitsecret/keys/random_seed
*.diff
.DS_Store

# cdk
cdk.out*

# terraform
.terraform
*.tfvars

# secrets
glados/secrets.yaml
wheatley/secrets.yaml
