# ansible
*.vault

# cdk
cdk.out*

# helm
k8s/charts/*/Chart.lock
k8s/charts/*/charts

# misc
.dccache
.DS_Store
.env
.envrc
.iac-data
k8s/secrets.yaml
ansible/secrets.yaml

# npm
node_modules

# terraform
.terraform
.terraform.lock.hcl
local*.tfvars
*.tfbackend
