githubWebhookServer:
  enabled: true
service:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: actions-runner-controller.axatol.xyz
    external-dns.alpha.kubernetes.io/target: http://actions-runner-controller-github-webhook-server.actions-runner-system.svc.cluster.local:80
