logLevel: info
logFormat: json

policy: sync
registry: noop
interval: 1h
triggerLoopOnEvent: true

sources: [ingress]
domainFilters: [axatol.local]

image:
  pullPolicy: Always

serviceMonitor:
  enabled: true

provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: v8.0.1
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      privileged: false
      readOnlyRootFilesystem: true
      runAsGroup: 65532
      runAsNonRoot: true
      runAsUser: 65532
    env:
      - name: LOG_LEVEL
        value: debug
      # - name: DRY_RUN
      #   value: "true"
      - name: ADGUARD_URL
        valueFrom:
          secretKeyRef:
            name: external-dns-adguard
            key: ADGUARD_URL

      - name: ADGUARD_USER
        valueFrom:
          secretKeyRef:
            name: external-dns-adguard
            key: ADGUARD_USER
      - name: ADGUARD_PASSWORD
        valueFrom:
          secretKeyRef:
            name: external-dns-adguard
            key: ADGUARD_PASSWORD
