env:
  DISCORD_BOT_PREFIX: ">"
  MINIO_ENDPOINT: minio-deployment-service.minio.svc.cluster.local
  MINIO_ENDPOINT_PORT: "9000"
  MINIO_ENDPOINT_SSL: "false"
  NEW_RELIC_ENABLED: "true"
  NEW_RELIC_APP_NAME: huisheng
  NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
  NEW_RELIC_NO_CONFIG_FILE: "true"
