---
- name: Configure containers
  hosts: atlas.local
  become: true
  gather_facts: true
  vars_prompt:
    - name: ansible_sudo_pass
      prompt: Sudo password
      private: true
  tasks:
    - name: Pihole dnsmasq
      ansible.builtin.copy:
        dest: /opt/pihole/etc-dnsmasq.d/custom.conf
        owner: 1000
        group: 1000
        mode: "0640"
        content: |
          address=/atlas.local/192.168.1.41
          address=/.atlas.local/192.168.1.41
          address=/wheatley.local/192.168.1.42
          address=/glados.local/192.168.1.43

          address=/atlas.lan/192.168.1.41
          address=/.atlas.lan/192.168.1.41
          address=/wheatley.lan/192.168.1.42
          address=/glados.lan/192.168.1.43

          address=/atlas.home/192.168.1.41
          address=/.atlas.home/192.168.1.41
          address=/wheatley.home/192.168.1.42
          address=/glados.home/192.168.1.43

    - name: Create /opt/atlas
      ansible.builtin.file:
        path: /opt/atlas
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Copy docker-compose.yaml
      ansible.builtin.template:
        src: "{{ playbook_dir }}/docker-compose.yaml"
        dest: "/opt/atlas/docker-compose.yaml"
        owner: root
        group: root
        mode: "0644"

    - name: Docker compose
      community.docker.docker_compose_v2:
        project_name: atlas
        project_src: "/opt/atlas"
        pull: missing
