alloy:
  stabilityLevel: experimental # to enable livedebugging
  enableReporting: false
  mounts:
    varlog: true
  extraPorts:
    - name: faro
      port: 12347
      targetPort: 12347
    - name: otlp
      port: 4318
      targetPort: 4318
    - name: logs
      port: 9999
      targetPort: 9999

extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: alloy-auth
    stringData: {} # set in secrets
  - apiVersion: v1
    kind: Service
    metadata:
      name: alloy-rum
      annotations:
        external-dns.alpha.kubernetes.io/hostname: rum.axatol.xyz
        external-dns.alpha.kubernetes.io/target: http://alloy.monitoring.svc.cluster.local:12347
    spec:
      selector:
        app.kubernetes.io/instance: alloy
        app.kubernetes.io/name: alloy
      ports:
        - name: faro
          protocol: TCP
          port: 12347
          targetPort: 12347
  - apiVersion: v1
    kind: Service
    metadata:
      name: alloy-otlp
      annotations:
        external-dns.alpha.kubernetes.io/hostname: otlp.axatol.xyz
        external-dns.alpha.kubernetes.io/target: http://alloy.monitoring.svc.cluster.local:4318
    spec:
      selector:
        app.kubernetes.io/instance: alloy
        app.kubernetes.io/name: alloy
      ports:
        - name: otlp
          protocol: TCP
          port: 4318
          targetPort: 4318
  - apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: alloy-web
    spec:
      ingressClassName: traefik
      rules:
        - host: alloy.axatol.local
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: alloy
                    port:
                      name: http-metrics
  - apiVersion: v1
    kind: Service
    metadata:
      name: alloy-logs
      annotations:
        external-dns.alpha.kubernetes.io/hostname: logs.axatol.xyz
        external-dns.alpha.kubernetes.io/target: http://alloy.monitoring.svc.cluster.local:9999
    spec:
      selector:
        app.kubernetes.io/instance: alloy
        app.kubernetes.io/name: alloy
      ports:
        - name: logs
          protocol: TCP
          port: 9999
          targetPort: 9999
  - apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: alloy-web
    spec:
      ingressClassName: traefik
      rules:
        - host: alloy.axatol.local
          http:
            paths:
              - path: /
                pathType: Prefix
                backend:
                  service:
                    name: alloy
                    port:
                      name: http-metrics
