tempo:
  reportingEnabled: false
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo-traces
  metricsGenerator:
    enabled: true
    remoteWriteUrl: http://prometheus-stack-kube-prom-prometheus.monitoring.svc.cluster.local:9090/api/v1/write
  overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
          - local-blocks

config: |
  stream_over_http_enabled: true
  memberlist:
    cluster_label: "{{ .Release.Name }}.{{ .Release.Namespace }}"
  multitenancy_enabled: {{ .Values.tempo.multitenancyEnabled }}
  usage_report:
    reporting_enabled: {{ .Values.tempo.reportingEnabled }}
  compactor:
    compaction:
      block_retention: {{ .Values.tempo.retention }}
  distributor:
    receivers:
      {{- toYaml .Values.tempo.receivers | nindent 8 }}
  ingester:
    {{- toYaml .Values.tempo.ingester | nindent 6 }}
  server:
    {{- toYaml .Values.tempo.server | nindent 6 }}
  storage:
    {{- toYaml .Values.tempo.storage | nindent 6 }}
  querier:
    {{- toYaml .Values.tempo.querier | nindent 6 }}
  query_frontend:
    {{- toYaml .Values.tempo.queryFrontend | nindent 6 }}
  overrides:
    {{- toYaml .Values.tempo.overrides | nindent 6 }}
    {{- if .Values.tempo.metricsGenerator.enabled }}
  metrics_generator:
    storage:
      path: "/tmp/tempo"
      remote_write:
        - url: {{ .Values.tempo.metricsGenerator.remoteWriteUrl }}
    traces_storage:
      path: "/tmp/traces"
    {{- end }}

tempoQuery:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - tempo.axatol.local
