---
- name: Fetch k3s installation script
  ansible.builtin.uri:
    url: https://get.k3s.io
    owner: root
    group: root
    mode: "0755"
    dest: /opt/script/install-k3s.sh

- name: Bootstrap agent
  ansible.builtin.command:
    argv:
      - /opt/script/install-k3s.sh
      - server
      - --cluster-init
      - --disable=traefik
      - --disable=metrics-server
      - --disable=local-storage
      # - --disable=servicelb
      - --disable-cloud-controller
      - --disable-helm-controller
      # - --disable-network-policy
      - "{{ '--tls-san=' ~ (k3s_server_tls_sans | join(',')) if (k3s_server_tls_sans | length) > 0 }}"
  environment:
    INSTALL_K3S_CHANNEL: "{{ k3s_server_channel }}"
  register: bootstrap
  when:
  changed_when: "'No change detected so skipping service start' not in bootstrap.stdout"
