---
- name: Bootstrap glados
  hosts: glados.local
  become: true
  gather_facts: true
  vars_prompt:
    - name: ansible_sudo_pass
      prompt: Sudo password
      private: true
  tasks:
    - name: Install base packages
      ansible.builtin.import_role:
        name: server_landing_zone

    - name: Start k3s agent
      ansible.builtin.import_role:
        name: k3s_agent
      vars:
        k3s_agent_channel: "{{ kubernetes.k3s_version }}"
        k3s_agent_server_url: "{{ kubernetes.k3s_server_url }}"
        k3s_agent_join_token: "{{ kubernetes.k3s_agent_token }}"

    - name: Configure socket write buffer size
      ansible.posix.sysctl:
        name: net.core.wmem_max
        value: "7500000"
        state: present
        sysctl_set: true

    - name: Configure socket read buffer size
      ansible.posix.sysctl:
        name: net.core.rmem_max
        value: "7500000"
        state: present
        sysctl_set: true
