{{- $containers := mergeOverwrite (dict) .Values.containers .Values.initContainers }}
{{- if gt (len $containers) 0 }}
{{- range $name, $container := $containers }}
{{- $env := $container.env | default (dict) }}
{{- if gt (len $env) 0 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ $.Release.Name }}-{{ $name }}"
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "generic.labels" $ | nindent 4 }}
data:
  {{- range $key, $value := $env }}
  {{ $key }}: {{ $value | toString | quote }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- if gt (len $.Values.files) 0 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-files
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "generic.labels" $ | nindent 4 }}
data:
  {{- range $name, $value := $.Values.files }}
  {{ $name }}: |
    {{- if (kindIs "string" $value) }}
    {{- $value | trim | nindent 4 }}
    {{- else }}
    {{- $value | toYaml | nindent 4 }}
    {{- end }}
  {{- end }}
{{- end }}
