{{- define "generic.networkPolicySelectors" -}}
{{- if .cidr }}
ipBlock:
  cidr: {{ .cidr }}
{{- end }}
{{- if .namespace }}
namespaceSelector:
  matchLabels:
    kubernetes.io/metadata.name: {{ .namespace }}
{{- end }}
{{- if .pods }}
podSelector:
  matchLabels: {{- .pods | toYaml | nindent 4 }}
{{- end }}
{{- end }}
{{- if gt (add (len .Values.networkPolicy.ingress) (len .Values.networkPolicy.egress)) 0 }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "generic.labels" $ | nindent 4 }}
spec:
  podSelector:
    matchLabels: {{- include "generic.selectors" . | nindent 6 }}
  policyTypes:
  {{- if gt (len .Values.networkPolicy.ingress) 0 }}
  - Ingress
  {{- end }}
  {{- if gt (len .Values.networkPolicy.egress) 0 }}
  - Egress
  {{- end }}
  {{- if gt (len .Values.networkPolicy.ingress) 0 }}
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          app.kubernetes.io/name: traefik
  {{- range .Values.networkPolicy.ingress }}
  - from:
    - {{- include "generic.networkPolicySelectors" . | nindent 6 }}
    {{- if .ports | default (list) | len | gt 0 }}
    ports: {{- .ports | toYaml | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- if gt (len .Values.networkPolicy.egress) 0 }}
  egress:
  - to:
    - namespaceSelector:
        matchLabels:
          kubernetes.io/metadata.name: kube-system
      podSelector:
        matchLabels:
          k8s-app: kube-dns
      ports:
      - protocol: TCP
        port: 53
      - protocol: UDP
        port: 53
  {{- range .Values.networkPolicy.egress }}
  - to:
    - {{- include "generic.networkPolicySelectors" . | nindent 6 }}
    {{- if .ports | default (list) | len | gt 0 }}
    ports: {{- .ports | toYaml | nindent 6 }}
    {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
