{{- range $name, $pvc := .Values.pvc }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $name }}
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "generic.labels" $ | nindent 4 }}
spec:
  storageClassName: {{ $pvc.storageClassName }}
  accessModes:
    - {{ default "ReadWriteOnce" $pvc.accessMode }}
  resources:
    requests:
      storage: {{ $pvc.capacity }}
{{- end }}
