{{- $exposedPorts := dict }}
{{- range $container := .Values.containers }}
{{- range $name, $port := $container.ports }}
{{- if $port.externalPort }}
{{- $exposedPorts = set $exposedPorts $name $port }}
{{- end }}
{{- end }}
{{- end }}
{{- if gt (len $exposedPorts) 0}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name}}
  namespace: {{ .Release.Namespace }}
  labels: {{ include "generic.labels" . | nindent 4 }}
  annotations: {{- .Values.service.annotations | toYaml | nindent 4 }}
spec:
  type: ClusterIP
  selector: {{ include "generic.selectors" . | nindent 4 }}
  ports:
  {{- range $name, $port := $exposedPorts }}
  - name: {{ $name }}
    port: {{ $port.externalPort }}
    targetPort: {{ $port.internalPort }}
  {{- end }}
{{- end }}
