{{- $scrapeEndpoints := list }}
{{- range $container := .Values.containers }}
{{- range $name, $port := $container.ports }}
{{- range $endpoint := $port.metricsEndpoints }}
{{- $defaultEndpoint = dict "port" $name }}
{{- $scrapeEndpoints = append $scrapeEndpoints (merge $defaultEndpoint $endpoint) }}
{{- end }}
{{- end }}
{{- end }}
{{- if gt (len $scrapeEndpoints)  0 }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels: {{ include "generic.labels" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels: {{ include "generic.labels" . | nindent 6 }}
  jobLabel: app.kubernetes.io/instance
  endpoints:
  {{- range $endpoint := $scrapeEndpoints }}
  - {{ $endpoint | toYaml | nindent 4}}
  {{- end}}
{{- end}}
