---
- name: Bootstrap wheatley
  hosts: wheatley.local
  become: true
  gather_facts: true
  vars_prompt:
    - name: ansible_sudo_pass
      prompt: Sudo password
      private: true
  tasks:
    - name: Server landing zone
      ansible.builtin.import_role:
        name: server_landing_zone

    - name: Setup NFS server
      ansible.builtin.import_role:
        name: nfs_server
      vars:
        nfs_server_exports:
          /mnt/data/nfs/k8s:
            clients:
              - "192.168.1.0/24"
            options:
              - rw
              - sync
              - no_root_squash
              - no_subtree_check

    - name: Setup Samba server
      ansible.builtin.import_role:
        name: samba_server
      vars:
        samba_server_shares:
          /mnt/data/samba/share:
            groups: [samba]

    - name: Configure socket write buffer size
      ansible.posix.sysctl:
        name: net.core.wmem_max
        value: "7500000"
        state: present
        sysctl_set: true

    - name: Configure socket read buffer size
      ansible.posix.sysctl:
        name: net.core.rmem_max
        value: "7500000"
        state: present
        sysctl_set: true
