---
- name: Configure containers
  hosts: grady
  become: true
  gather_facts: true
  tasks:
    - name: Create /opt/grady
      ansible.builtin.file:
        path: /opt/grady
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Copy files
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/opt/grady/{{ item | basename }}"
        owner: root
        group: root
        mode: "0644"
      with_fileglob:
        - ./files/*

    - name: Docker compose
      community.docker.docker_compose_v2:
        project_name: grady
        project_src: "/opt/grady"
        pull: missing
        remove_orphans: true
