cluster-init: true
agent-token: "{{ agent_token }}"
disable-cloud-controller: true
disable-helm-controller: true
disable:
  - traefik
  - metrics-server
  - local-storage
kube-apiserver-arg:
  {% if service_account %}
  - service-account-key-file={{ service_account.pkcs_key_filepath }}
  - service-account-signing-key-file={{ service_account.private_key_filepath }}
  - service-account-issuer={{ service_account.issuer_url }}
  {% if service_account.audiences %}
  - api-audiences={{ service_account.audiences | join(",") }}
  {% endif %}
  {% endif %}
  {% if oidc %}
  - oidc-issuer-url={{ oidc.issuer_url}}
  - oidc-client-id={{ oidc.client_id }}
  - "oidc-username-prefix=oidc:"
  - "oidc-groups-prefix=oidc:"
  {% endif %}
