atlas:
  hosts:
    atlas.lan:

wheatley:
  hosts:
    wheatley.lan:

glados:
  hosts:
    glados.lan:

pbody:
  hosts:
    pbody.lan:

grady:
  hosts:
    grady.siamese-halibut.ts.net:
      ansible_user: ubuntu
