name: Publish Grafana Lambda Promtail

on:
  workflow_dispatch:

  schedule:
    # once a month
    - cron: "0 0 1 * *"

  push:
    branches:
      - master
    paths:
      - "github/images/grafana-lambda-promtail/**"
      - .github/workflows/_ecr-publish.yaml
      - .github/workflows/publish-grafana-lambda-promtail.yaml

jobs:
  publish-ecr:
    uses: ./.github/workflows/_ecr-publish.yaml
    with:
      context: ./images/grafana-lambda-promtail
      image: public.ecr.aws/axatol/grafana-lambda-promtail
    secrets:
      AWS_ECR_IMAGE_PUBLISHER_ROLE_ARN: ${{ secrets.AWS_ECR_IMAGE_PUBLISHER_ROLE_ARN }}
