name: Deploy Terraform

on:
  workflow_dispatch:

  schedule:
    # once a month
    - cron: "0 0 1 * *"

  push:
    branches:
      - master
    paths:
      - "github/images/octopus-deploy-tentacle/**"
      - .github/workflows/_ecr-publish.yaml
      - .github/workflows/publish-octopus-deploy-tentacle.yaml

jobs:
  publish-ecr:
    uses: ./.github/workflows/_ecr-publish.yaml
    with:
      context: ./images/octopus-deploy-tentacle
      image: public.ecr.aws/axatol/octopus-deploy-octopus-deploy-tentacle
    secrets:
      AWS_ECR_IMAGE_PUBLISHER_ROLE_ARN: ${{ secrets.AWS_ECR_IMAGE_PUBLISHER_ROLE_ARN }}
